<article class="card">
    <div class="row card-header px-8">
        <img class="profile-pic col-4" style="max-width: 75px; max-height: 75px" src="/images/ProfilePlaceholderSuit.png" alt="image not found" 
        data-holder-rendered="true">
        <p class="col-4">{{username}}</p>
        <div class="w-100"></div>
            <p class="col-4"><small><span>{{format_date created_at}} at {{format_time created_at}}</span></p></small>
        </div>
    <div class="card-body row">
        <textarea readonly rows="5" cols="80" style="border: none; resize: none;">{{comment_content}}
        </textarea>
    </div>
</article>