<div>
    <h2 id="post-title">{{post_title}}</h2>
    <p id="post-content" class="border w-100 h-50 overflow-auto">{{post_content}}
    </p>
    <div class="row px-2">
        <button type="button" id="follow-post-btn" class="col-2">Follow</button>
        <button type="button" id="comments-btn" class="col-2">Comments</button>
        <button type="button" id="Go to Post" class="col-2">Go To Post</button>
        <button type="button" id="Expand" class="col-2">Expand...</button>
    </div>
</div>   