<div class="d-flex">
  <form class="d-flex justify-content-end">
        <input
            type="search"
            class="form-control rounded"
            placeholder="Search"
            id="searchBar"
            aria-label="Search"
            aria-describedby="search-addon"
        />
        <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
        </span>
    </form>
    {{#if loggedIn}}
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Logout</button>
    {{else}}
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Login</button>
    {{/if}}
</div>