<div class="d-flex">

    <label for="tag-dataList" class="form-label">Tags:</label>
    <input class="form-control-sm" list="tag-list" id="tag-dataList" style="font-size: 10px" placeholder="">
        <datalist id="tag-list">
            {{#each tags as |tag|}}
            <option class="tag-list-item" data-tag_id="{{tag_id}}" value="{{tag_name}}"></option>
            {{/each}}

        </datalist>
    <form class="d-flex justify-content-end">
        <input
            type="search"
            class="form-control rounded"
            placeholder="Search"
            id="searchBar"
            aria-label="Search"
            aria-describedby="search-addon"
        />
        <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
        </span>
    </form>
    {{#if loggedIn}}
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Logout</button>
    {{else}}
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Login</button>
    {{/if}}
</div>