<div class="col-1 px-1">
    <div class="col">
        <button id="home-btn" type="button" class="side-bar-btn">Home</button>
        <button id="explore-btn" type="button" class="side-bar-btn">Explore</button>
        <button id="new-post-btn" type="button" class="side-bar-btn">Create Post</button>
        {{!-- <button id="notifications-btn" type="button" class="side-bar-btn">Notifications</button> --}}
        {{!-- <button id="my-account-btn" type="button" class="side-bar-btn">My Account</button> --}}
    </div>   
</div>

