    {{!-- User Navigation Partial --}}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">RH</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="navbar-nav me-auto mb-2 mb-lg-0">
            <div class="nav-item">
              <!-- HOME/MAIL LANDING PAGE -->
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </div>
            <div class="nav-item flex-grow-1">
              <!-- ABOUT -->
              <a class="nav-link" href="#">About Rabbit Holes</a>
            </div>
            <div class="justify-content-end">
              <!--Search Bar -->
              
            </div>
            {{#if loggedIn}}
            </div>
              {{> userLogout }}
              {{else}}
            </div>
              {{> userLogin }}

            {{/if}}
        </div>
      </div>
    </nav>