<article class="post-user">
    <div class="row">
        <div class="col-5">
            <img class="profile-pic w-100 h-100" style="max-width: 90px; max-height: 90px;" src="/images/ProfilePlaceholderSuit.png" alt="image not found" 
             data-holder-rendered="true">
        </div>
        <div class="col-sm-7">
            <p id="post-user-username">{{user.username}}</p>
        </div>
    </div>
    <p><small> Posted:<span id="post-user-time"> {{format_time created_at}}</span></small></p>
    {{#if tags}}
    <p>Tags</p>
    <ul id="post-user-tags-list">
        {{#each tags as |tag|}}
        <li>
            {{> post_tags tag}}

        </li>
        {{/each}}
    </ul>
    {{/if}}
    <p class="h-25"><small class="text-muted">Last updated: {{format_time updated_at}}</small></p>
</article>