<div class="d-flex">
  <form class="d-flex justify-content-end">
                <input
                  type="search"
                  class="form-control rounded"
                  placeholder="Search"
                  id="searchBar"
                  aria-label="Search"
                  aria-describedby="search-addon"
                />
                <span class="input-group-text border-0" id="search-addon">
                  <i class="fas fa-search"></i>
                </span>
            </form>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Logout</button>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to log out?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="logout-confirm-btn">Log Out</button>
      </div>
    </div>
  </div>
</div>
