<!-- about the RB  -->
<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">About The Rabbit Hole</h1>
        <p class="lead text-muted mb-0">
          Learning is a journey, and we all get a little lost chasing those
          white rabbits of information and ideas. Here you will find a community
          of people who believe in putting the journey before the destination,
          who love to follow that thread of something that sparked their
          interest far longer than most others would, and enjoy sharing what
          they've learned along the way.
          <br />
          So come get lost in the sea of knowledge, experience other peoples
          journey's, and share a few of your own.
        </p>

      </div>
      <div class="col-lg-6 d-none d-lg-block">
        <img src="/images/hole.png" alt="hole img" class="img-fluid" />
      </div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container py-5">

    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img
          src="/images/hole.png"
          alt=""
          class="img-fluid mb-4 mb-lg-0"
        /></div>
      <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">How to jump in</h2>
        <p class="font-italic text-muted mb-4">First, jump into registration and
          create an account. After an account has made you now can start your
          first Rabbit Hole by creating a post!</p><a
          href="/user-login/register"
          class="btn btn-light px-5 rounded-pill shadow-sm"
        >Registration page link here</a>
      </div>
    </div>
  </div>
</div>

<!-- about us  -->
<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Our team</h2>
        <p class="font-italic text-muted">The Rabbit Hole staff</p>
      </div>
    </div>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img
            src="/images/hole.png"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h5 class="mb-0">Aaron Rones</h5><span
            class="small text-uppercase text-muted"
          >CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a
                href="https://github.com/beimy"
                class="social-link"
              >Github</a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img
            src="/images/hole.png"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h5 class="mb-0">Vincent Teune</h5><span
            class="small text-uppercase text-muted"
          >CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a
                href="https://github.com/cobalt88"
                class="social-link"
              >Github</a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img
            src="/images/hole.png"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h5 class="mb-0">Vincent shepard</h5><span
            class="small text-uppercase text-muted"
          >CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a
                href="https://github.com/Vshepard879"
                class="social-link"
              >Github</a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img
            src="/images/hole.png"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h5 class="mb-0">Khai Truong</h5><span
            class="small text-uppercase text-muted"
          >CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a
                href="https://github.com/teatyped"
                class="social-link"
              >Github</a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

    </div>
  </div>
</div>