<div class="container-sm w-100">
    <div class="row d-flex pt-4">
        {{!-- <ul class="col-2 post-list">
            {{#each posts as |post|}}
            <li>
                {{> user-post-info post}}
            </li>
            {{/each}}
        </ul> --}}

        <div class="col-10" id="post-col">
            {{#each posts as |post|}}
                {{!-- {{> post_content post}} --}}
            {{/each}}
        </div>

        {{ side_bar }}
    </div>
</div>
