<div class="container-sm w-100 m-50">
    <div class="row d-flex pt-4">

        <div class="col-10" id="post-col">
            {{#each posts as |post|}}
                {{> post_content post}}
            {{/each}}
        </div>
        
        {{> side_bar }}
    </div>
</div>
