<div class="container-sm ms-4 p-5">
    <div class="row d-flex">
        {{!-- <ul class="col-2 post-list">
            {{#each posts as |post|}}
            <li>
                {{> user-post-info post}}
            </li>
            {{/each}}
        </ul> --}}

        <div class="container m-2" id="post-col">
            {{#each posts as |post|}}
                {{> post-content post}}
            {{/each}}
        </div>

        {{> side-bar}}
    </div>
</div>
