<div class="container-sm m-0 p-5 main-vh-100">
    <div class="row d-flex">
        <div id="post-header" class="col-8 m-0">
            <div class="col-2" id="post-title">
                <p>POST TITLE</p>
                <p>TAGS:</p>
            </div>
        </div>
        <div id="post-header-data" class="col-2">
            <p>Posted at:<span>00/00/0000</span> <span>00:00PM</span></p>
            <label class="form-label select-label">Sort by:</label>
            <select class="select">
                <option value="1">Newest</option>
                <option value="2">Oldest</option>
            </select>

        </div>



        {{> side-bar }}
    </div>
</div>