<div>
    <form> 
        <div class="form-group">
            <label for="post-title">Post Title</label><br>
            <input class="form-control" type="text" id="post-title" name="post-title" placeholder="Enter Post Title"><br>
        </div>  
        <div class="form-group">
            <label for="post-body">Body</label><br>
            <textarea class="form-control"  type="text" id="post-body" name="post-body"></textarea><br>
        </div>
        <div class="form-group">
            <label for="post-tags">Add Tags</label><br>
            <input class="form-control"  type="text" id="post-tags" name="post-tags" placeholder="Search Tags"><br>
        </div>
        <button class="btn btn-primary" id="create-post" type="button">Post</button>
    </form>
</div>