{{!-- base code for this section found here: https://mdbootstrap.com/docs/standard/extended/login/? --}}
{{> user_nav }}

<section class="">

  <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            The best place <br />
            <span class="text-primary">to get lost</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            Learning is a journey, and we all get a little lost chasing those white rabbits of information and ideas. 
            Here you will find a community of people who believe in putting the journey before the destination,
            who love to follow that thread of something that sparked their interest far longer than most others would, 
            and enjoy sharing what they've learned along the way. <br/>
            So come get lost in the sea of knowledge, experience other peoples journey's, and share a few of your own.
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form>
                <!-- Username -->
                
                <div class="form-outline mb-4">
                      <input type="text" id="username" class="form-control" />
                      <label class="form-label" for="username">Username</label>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="email" class="form-control" />
                  <label class="form-label" for="email">Email address</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()?`~]).{8,}" type="password" id="pass1" class="form-control" />
                  <label class="form-label" for="pass1">Password</label>
                </div>

                <!-- Re-input password -->
                <div class="form-outline mb-4">
                  <input pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()?`~]).{8,}" type="password" id="pass2" class="form-control" />
                  <label class="form-label" for="pass2"> Re-Enter Password</label>
                </div>

                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                  <input class="form-check-input me-2" type="checkbox" value="" id="newsletter" checked />
                  <label class="form-check-label" for="newsletter">
                    Subscribe to our newsletter
                  </label>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4" id="registerBtn">
                  Sign up
                </button>

                <!-- Register buttons -->
                <div class="text-center">
                  <p>or sign up with:</p>
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
