<div class="container-sm p-5 min-vh-100">
    <div class="row d-flex">
        <div class="border-end col-10">
            <div class="row min-vh-75 p-10 border-bottom" id="user-profile-data">
                <div class="col-sm-4">
                    <img class="w-50 h-75 col-5" id="user-profile-img" src="/images/ProfilePlaceholderSuit.png" alt="/images/ProfilePlaceholderSuit.png">
                </div>
                <div class="col-sm-8">
                    <h2 class="col-3">{{username}}</h2>
                </div>
                <div class="col-sm-4">
                    <h3>Interests</h3>
                    <ul class="border h-100" id="interests-list">
                    {{#each interests as |interest|}}
                    <li>
                        {{> interests interest}}
                    </li>
                    {{/each}}
                    </ul>
                </div>
                <div class="col-sm-8">
                    <h3>About</h3>
                    <p class="border h-100">{{about}}</p>
                </div>
            </div>
            <div class="row mt-5" id="user-post-data">
                <div class="col-10" id="post-list">
                    {{#each posts as |post|}}
                    <div class="border-bottom">
                        {{> post_content post}}
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        {{> side_bar }}
    </div>
</div>