<div class="container-sm m-0 p-5 min-vh-100">
    <div class="row min-vh-100 min-vw-100">
        <div class="border-end col-10">
            <div class="row min-vh-75 p-10 border-bottom" id="user-profile-data">
                <div class="col-sm-4">
                    <img class="w-100 h-100 col-5" id="user-profile-img" src="/images/ProfilePlaceholderSuit.png" alt="/images/ProfilePlaceholderSuit.png">
                </div>
                <div class="col-sm-8">
                    <h2 class="col-3">{{username}}</h2>
                </div>
                <div class="col-sm-4">
                    <h3>Interests</h3>
                    <ul class="border h-100" id="interests-list">
                    {{#each interests as |interest|}}
                    <li>
                        {{> interests interest}}
                    </li>
                    {{/each}}
                    </ul>
                </div>
                <div class="col-sm-8">
                    <h3>About</h3>
                    <p class="border h-100">{{about}}</p>
                </div>
            </div>
            <div class="row m-5" id="user-post-data">
                <ul class="col-10 m-2 pt-10" id="post-list">
                    {{#each posts as |post|}}
                    <li class="border-bottom">
                        {{> post-content post}}
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-1">
            <div class="col">
                <button id="home-btn" type="button">Home</button>
                <button id="explore-btn" type="button">Explore</button>
                <button id="notifications-btn" type="button">Notifications</button>
                <button id="my-account-btn" type="button">My Account</button>
            </div>
            
        </div>
    </div>
</div>