<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Journys</title>
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    <!-- main nav  -->
    <nav class="navbar navbar-light bg-light border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand flex-grow-1" href="#">LOGO</a>

            <form class="d-inline-flex input-group w-auto">
                <input
                  type="search"
                  class="form-control rounded"
                  placeholder="Search"
                  aria-label="Search"
                  aria-describedby="search-addon"
                />
                <span class="input-group-text border-0" id="search-addon">
                  <i class="fas fa-search"></i>
                </span>
              </form>

            <button type="button" id="login-signup" class="btn btn-primary me-3">
                Login
            </button>
        </div>
    </nav>

    <main>
        <div class="container-sm m-0 p-5">
            <div class="row">
                <div class="col-2">
                    <div class="create-post">
                        
                    </div>
                </div>

                <!-- side bar  -->
                <div class="col-1">
                    <div class="col">
                        <button id="home-btn" type="button">Home</button>
                        <button id="explore-btn" type="button">Explore</button>
                        <button id="notifications-btn" type="button">Notifications</button>
                        <button id="my-account-btn" type="button">My Account</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </main>

    

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    
</body>
</html>