<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Journys</title>
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand flex-grow-1" href="#">LOGO</a>

            <form class="d-inline-flex input-group w-auto">
                <input
                  type="search"
                  class="form-control rounded"
                  placeholder="Search"
                  aria-label="Search"
                  aria-describedby="search-addon"
                />
                <span class="input-group-text border-0" id="search-addon">
                  <i class="fas fa-search"></i>
                </span>
              </form>

            <button type="button" id="login-signup" class="btn btn-primary me-3">
                Login
            </button>
        </div>
    </nav>

    <main>
        <div class="container-sm m-0 p-0">
            <div class="row">
                <div class="col-2">
                    <div class="post-user">
                        <div class="row">
                            <div class="col-sm-5">
                                <p>PIC</p>
                            </div>
                            <div class="col-sm-3">
                                <p id="post-user-username">USERNAME</p>
                            </div>
                        </div>
                        <p>Post Time:<span id="post-user-time"> 00:00 pm</span></p>
                        <h3>Tags</h3>
                        <ul id="post-user-tags-list">
                            <li id=""></li>
                        </ul>
                    </div>
                </div>
                <div class="col border-2">
                    <h2 id="post-title">POST TITLE</h2>
                    <p id="post-content">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fugit beatae sunt nostrum aut enim voluptas sequi omnis alias libero eos. 
                        Odio nesciunt ratione vitae doloremque dicta eum modi velit ipsa!
                    </p>
                    <div class="row">
                        <button type="button" id="follow-post-btn" class="col-2">Follow</button>
                        <button type="button" id="comments-btn" class="col-2">Comments</button>
                        <button type="button" id="Go to Post" class="col-2">Go To Post</button>
                        <button type="button" id="Expand" class="col-2">Expand...</button>
                    </div>
                </div>
                <div class="col-1">
                    <div class="col">
                        <button id="home-btn" type="button">Home</button>
                        <button id="explore-btn" type="button">Explore</button>
                        <button id="notifications-btn" type="button">Notifications</button>
                        <button id="my-account-btn" type="button">My Account</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </main>

    

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    
</body>
</html>