<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Journys</title>
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    <!-- Navigation top bar -->
    <nav class="navbar navbar-light bg-light border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand flex-grow-1" href="#">LOGO</a>

            <form class="d-inline-flex input-group w-auto">
                <input
                  type="search"
                  class="form-control rounded"
                  placeholder="Search"
                  aria-label="Search"
                  aria-describedby="search-addon"
                />
                <span class="input-group-text border-0" id="search-addon">
                  <i class="fas fa-search"></i>
                </span>
              </form>

            <button type="button" id="login-signup" class="btn btn-primary me-3">
                Login
            </button>
        </div>
    </nav>

    <main>
        <!-- Main post  -->
        <div class="container-sm m-0 p-5">
            <div class="row">
                <div class="col-10 container border">
                    <div class="row justify-content-end" id="post-header">
                        <h2 class="col-8">POST TITLE</h2>
                        <h6 class="col-4 align-self-end "> posted: date here</h6>
                        <button  class="btn-info" id="sort-btn" type="button">Newest</button>
                    </div>
                    <div class="post-container border ">
                        <p> "Once & could-be-future girl, believe we’re not like you. Sure,
                            the pickup was tucked in dusk, shed all carefree w/ its sunburn
                            shimmer. Still nothing new to say about the creek, how reeds
                            get moony, or when we saw pelicans hold hands & gossip.
                            But y’all must wanna get this close to soft, so here goes: spool
                            heels, silver sleeves w/ pink accents, kind to stifle the trailer
                            static, same color Dot says Granny passed in. Past since good
                            & we did keep her pearls for you, kissed the hems holy, darned
                            the moth marks back to true. Goes: none of it imitation. Goes:
                            we are her barefoot bloodline, butter in the salt pan. Trust
                            you’re not from this sweat but still a goodness. You once most
                            only boy in the yard, laugh into your born polish. Step-joy,
                            uncousin: home is a name you bless in silk & cinch. Believe
                            we’re all alive here. Come hum this lace blood-warm. Glisten." </p>
                    </div>
                </div>

                <!-- Navigation sidebar  -->
                <div class="col-1">
                    <div class="col">
                        <button id="home-btn" type="button">Home</button>
                        <button id="explore-btn" type="button">Explore</button>
                        <button id="notifications-btn" type="button">Notifications</button>
                        <button id="my-account-btn" type="button">My Account</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </main>

    

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    
</body>
</html>